.saleContentInfo {
    font-size: 14px;
    font-weight: 400;
}

.saleContentPrice {
    font-weight: 700;
}

.saleElement {
    display: inline-block;
    margin-bottom: 27px;
    
}

.saleElement img {  
    width: 100%;
    height: auto;
    margin-top: 15px;
}

.saleElement div {
  text-align: center;
}
.saleElement a {text-decoration: none;
    color: black
}