.collection {
    display: flex;
    flex-wrap: wrap;
}

.saleContentInfo {
    font-size: 14px;
    font-weight: 400;
}

.saleContentPrice {
    font-weight: 700;
}

.saleElement:first-child {
    padding-left: 0;
}

.saleElement:nth-child(4n) {
    padding-right: 0;
}

.saleElement:nth-child(5n) {
    padding-left: 0;
}

.saleElement {
    width: calc(25% - 15px);
    padding: 0 10px;
}

.saleElement img {  
    width: 100%;
    object-fit: cover;
}

.saleElement div {
  text-align: center;
}
.saleElement a {text-decoration: none;
    color: black
}

@media (max-width: 998px) {
    .saleElement {
        width: calc(50% - 15px);
    }

    .saleElement:nth-child(4n) {
        padding-right: 10px;
    }

    .saleElement:nth-child(2n) {
        padding-right: 0;
    }

    .saleElement:nth-child(3n) {
        padding-left: 0;
    }
}