.imageAndText-image-wrapper {
    max-width: 50%;
    width: 100%;
  }
  
  .imageAndText-image {
    width: 100%;
  }
  
  .imageAndText {
    display: flex;
    justify-content: space-between;
    padding:  0 60px 40px;
  }
  
  .imageAndText-text {
    display: flex;
    align-items: center;
    width: 100%;
  }

@media screen and (max-width: 989px) {
.imageAndText {
    padding: 40px 0;
}
}

@media screen and (max-width: 767px) {
    .accordion {
        max-width: 100%;
    }

    .imageAndText {
        flex-direction: column;
    }

    .imageAndText-text {
        order: 2;
    }

    .imageAndText-image-wrapper {
        margin: 0 0 40px auto;
        order: 1;
    }
}
