.frontpage-content {
    padding: 20px;
}

.frontPage_slider {
    margin: 60px auto;
    max-width: 900px;
    overflow: hidden;
}

.slick-slide {
    margin-right: 5px;
}

.slick-track {
    display: flex;
}

.frontPage_slider-element-image {
    border-radius: 5px;
    width: 100%;
    cursor: grab;
}

.left_arrow {
    transform: rotate(180deg);
}

.frontPage_slider-element h4 {
    margin: 15px 0 0 5px;
}
