

.frontPagePosition {
    max-width: 1900px; 
    height: auto;
    margin: 0 auto;
    width: 100%;
    z-index: 0;
}


.news {
   width: 100%;
    max-height: 600px;
    margin-bottom: 7px;
    overflow: hidden;
    position: relative;
}

.news img {
    width: 100%;
    height: auto;
}

.newClothes{
    position: absolute;
  margin: 0 auto;
  top: 53%;
 width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ; 
}

.newClothes h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
}


.newClothes button {
    border: 1px solid rgb(255, 255, 255);
	background-color: transparent;
	padding: 8px;
	font-size: 24px;
	color: rgb(255, 255, 255);
	width: 130px;
	border-radius: 11px;
	margin-bottom: 25px;
    cursor: pointer;
}

.newClothes button:hover {
	background-color: white;
	transition: 0.4s;
	color: black
}


@media (max-width: 768px) {
    .news { 
        max-height: 380px;
    }
    .news img {
        width: 100%;
        height: 100%;
    }
    .newClothes h1{
        font-size: 35px;
        color: white;
    }
    
    .newClothes {
        top: 35%;
    }

    .newClothes button { 
        color: white;
        border-color: white;
    }
    
}