.active-mobile-menu .header_burger-icon {
    display: none;
}

.active-mobile-menu .header_close-icon, 
.active-mobile-menu .header_mobile-menu  {
    display: block;
}

.header_burger-icon,
.header_close-icon,
.header_cart-icon{
    cursor: pointer;
}

.header_close-icon path{
    stroke: white;
}

.header {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: black;
}

.header_base {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header_mobile-menu {
    position: relative;
    background-color: black;
    height: calc(100vh - 77px);
}

.header_mobile-nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 20px;
    margin-bottom: 20px;
    overflow: scroll
}

.header_mobile-nav-item {
    margin: 10px 0;
    font-size: 20px;
}

.header_mobile-menu-wrapper {
    position: absolute;
}

.header_burger-icon svg{
    width: 25px;
}

.logo {
    display: block;
    z-index: 1;
    font-size: 16px;
    border: 1px solid white;
    padding: 10px 15px;
    letter-spacing: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Questrial, sans-serif;
}

.header_nav {
    display: flex;
    flex-grow: 2;
    justify-content: right;
}

.header_nav-item {
    margin: 0 15px;
}

.header a {
    color: white;
    text-decoration: none;
}

.header_cart-icon {
    margin-left: 15px;
}

@media (max-width: 998px) {
    .header_burger-icon {
        display: block;
    }

    .header_nav {
        display: none;
    }
}

@media (min-width: 998px) {
    /*.header .header_mobile-menu,*/
    /*.header .header_close-icon  {*/
    /*    display: none;*/
    /*}*/
}