
.sale {
max-width: 1900px;
position: relative;
max-height: 650px;
overflow: hidden;
width: 100%;
}

.sale img {
	width: 100%;
	height: auto;
}

.salebutton {
	border: 1px solid white;
	background-color: transparent;
	padding: 5px;
	font-size: 24px;
	color: white;
	width: 130px;
	border-radius: 10px;
	margin-bottom: 25px;
	cursor: pointer;
}

.sale button:hover {
	background-color: white;
	transition: 0.4s;
	color: black
}

[data-hidden = true] { display: none; }
[data-hidden = false] { display: block; }
.navCtrl span, .dotsCtrl li { transition: all 0.3s; }

.gallery {
	display: flex;
    flex-direction: column;
    align-items: center;
       justify-content: center ;
	width: 100%;
	visibility: hidden;
	margin: 0 auto 30px;
	position: absolute;
	top: 0px;
}

.gallery h1 {
	color: white;
	font-size: 4.5vw;
    font-weight: 400;
	margin: 23px;
}
.slider {
	width: 100%;
	max-width: 1024px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	
}
.stage { overflow: hidden; 
	
	}
		
	.stage  div {
		float: left;
		position: relative;
	}

		.stage  div img {
			width: 100%;
			height: auto;
		}
		.stage  div  a {
			text-decoration: none ;
		}
		.stage button {
			cursor: pointer;
		}


.control {
	width: 100%;
	position: relative;

}
.navCtrl {
	text-align: center;
	margin-top: 15px;
	
}

	
	.left {
		display: block;
		position: absolute;
		left: -100px;
		
	}

	.right {
		display: block;
		right: 0px;
		position: absolute;
	}

	.navCtrl span{
		width: 40px;
		height: 40px;
		display: inline-block;
		font-size: 12px;
		font-size: 28px;
		line-height: 37px;
		color: rgb(228, 228, 228);
		font-family: 'Roboto', sans-serif;
		text-align: center;
		margin: 0 30px;
		border-radius: 100%;
		outline: none;
		user-select: none;
		cursor: pointer;
		transition: all 0.3s;
		box-shadow: 0 2px 5px rgb(0 0 0 / 20%)
	}
	.navCtrl span:hover {
		border-color:rgb(255, 255, 255);
		background-color: rgb(255, 255, 255);
		opacity: 0.8;
	}
	.navCtrl .disable, .navCtrl .disable:hover {
		background-color: #ffffff;
		opacity: 0.4;
		cursor: default;
	}
.dotsCtrl {
	text-align: center;
	margin-top: 15px;
}
	.dotsCtrl li {
		width: 10px;
		height: 10px;
		display: inline-block;
		border-radius: 50%;
	    border: 1px solid;
		background-color: #4f4f50;
		opacity: 0.4;
		cursor: pointer;
	}
	.dotsCtrl li + li { margin-left: 10px; }
	.dotsCtrl .active, .dotsCtrl li:hover { opacity: 1; }

.stage button {
	width: 100%;
display: block;
margin: 0 auto;
padding: 0;
font: inherit;
border: none;
height: 30px;
opacity: 0.9;
}

@media (max-width: 768px) {
	.sale {
		max-height: 500px;	}

	.gallery {
		top: 0px;
	}

}