.red {background-color: red;}
.dark-blue {background-color: rgba(24,24,83,0.8)}
.dark-silver {background-color: rgba(64,66,67,0.81)}
.dust-green {background-color: rgba(70,74,29,0.8)}
.white {background-color: white;}
.blue {background-color: rgb(92, 92, 255);}
.white-blue {background-color: rgb(96, 205, 255);}
.black {background-color: rgb(0, 0, 0);}
.yellow {background-color: yellow;}
.silver {background-color: rgb(172, 173, 172);}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden-input {
  clip: rect(0,0,0,0);
  position: absolute;
  height: 1px;
  width: 1px;
}

input[type="radio"] {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}

.btn {
  position: relative;
  border-radius: 99px;
  border: 1px solid #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px;
  font-weight: 700;
  outline: none;
  background: #fff;
  transition: all 0.22s;
  cursor: pointer;
  margin-right: 1rem;
}

.stripBtn {
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

/*icons*/

.trashIcon {
  width: 20px;
  height: 20px;
  display: block;
}

/*admin*/
.admin {
  display: flex;
}

.adminMenu {
  padding: 100px 20px;
  background: #F3EFEA;
  border-right: 1px solid #232323;;
}

/*create product form*/

.createProduct {
  width: 100%;
  position: relative;
  padding: 100px 60px 60px 60px;
}

.createProduct-Background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.createProduct-formContent {
  position: relative;
}

.productField {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.optionField .productField {
  margin-bottom: 15px;
}

.fieldTitle {
  margin-bottom: 10px;
  display: block;
}

.fieldInput {
  padding: 0 15px;
  width: 220px;
  border-radius: 20px;
  height: 30px;
  border: none;
}

.addOption {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.addOption-btn {
  font-size: 24px;
}

.productOptions {

}

.optionsValuesWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.deleteOptValue {
  margin-left: 10px;
}

.variantField {
  overflow: scroll;
  width: 75vw;
  display: flex;
  align-items: center;
}

.hiddenInputWithOptions {
  display: none;
}

.variantTitle {
  margin-right: 10px;
}

.fieldInput.varField {
  width: 100px;
}

.priceInput {
  margin-right: 20px;
}

.priceInput, .qtyInput {
  margin-left: 10px;
}

.variantField {
  margin-bottom: 30px;
}

.variantField:last-child {
  margin-bottom: 0
}

.varField {
  width: 100px;
  display: inline-block;
  word-wrap: break-word;
}

.variantImagesContainer {
  display: flex;
}

.variantImageContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.variantImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.productVariants {
margin-bottom: 40px;
}

.addVariantImage {
  display: flex;
  text-align: center;
  cursor: pointer;
  border: 1.5px dashed silver;
  margin-right: 25px;
  position: relative;
}

.addVariantImage p {
  margin: 0;
  padding: 10px;
}

.removeVariantImage, .removeProdImage {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  opacity: .8;
  display: none;
  background: silver;
  cursor: pointer;
}

.removeVariantImage {
  display: block;
}

.removeProdImage {
  display: block;
}

.fieldInput:focus{
  outline: none;
}

.productDescription {
  display: flex;
}

.productPhotos_plus {
  font-size: 100px;
  text-align: center;
  color: silver;
  cursor: pointer;
}

.prodImageWrap {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.prodImageWrap:last-child {
  margin-right: 0;
}

img.prodImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productPhotos {
  margin-left: 100px;
}

