.pageContent {
  width: 100%;
  height: 100%;
  position: relative;
}

.collection_content {
  padding: 123px 20px 0 20px;
}

.filter_btn {
  width: 100px;
  margin: 0 0 20px auto;
  display: block;
}

